@charset "UTF-8";
/*- Screen Sizes*/
/*media queries*/
/*fixed media query*/
@media (min-width: 320px) and (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-show {
    display: block !important;
  }
}
/* common CSS*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: #00b894;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.desktop-hidden {
  display: none;
}

.brand-color {
  color: #00b894;
}

.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.display_flex.flex_center {
  align-items: center;
  justify-content: center;
}
.display_flex.flow_row {
  flex-flow: row;
}
.display_flex.flow_column {
  flex-flow: column;
}

.btn {
  background-color: #00b894;
  width: 214px;
  height: 38px;
  box-shadow: none;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 0px;
}
.btn.btn-reverse {
  background: #fff;
  border: 1px solid #00b894;
  color: #00b894;
}

.btn:focus, .custom-control-input:focus ~ .custom-control-label::before, .btn.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ededed;
}

.container {
  max-width: 1410px !important;
}

.form-control:focus {
  -webkit-box-shadow: 0px 0px 4px 0px #bedfff !important;
  box-shadow: 0px 0px 4px 0px #bedfff !important;
  border-color: #c3e1ff;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

.btn-main {
  background: #00b894;
  color: #fff;
  border-radius: 0;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.btn-rounded {
  border-radius: 3rem;
  border-color: #ffffff;
}

.btn-rounded:hover, .btn-rounded:focus {
  border-color: #00b894;
  background-color: transparent;
  color: #ffffff;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.custom-pagination {
  position: absolute;
}
.custom-pagination ul li {
  width: 5px;
  height: 5px;
  background: rgba(0, 184, 148, 0.5);
  border-radius: 50%;
  margin: 0.4em;
  z-index: 55;
}
.custom-pagination ul li.active {
  background: #00b894;
}

/* End common CSS*/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .navbar-brand {
    height: 50px;
  }
}
header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  color: #00b894;
}
header .dropdown-menu {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  border: none;
  margin: 0;
}
header .dropdown-item {
  padding-left: 1rem;
  color: #ffffff;
  font-size: 14px;
}
header .dropdown-item:hover {
  color: #00b894;
  background-color: transparent;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
    padding-right: 0;
  }
}

.btn-rounded img {
  width: 18px;
}

#abtest {
  margin-bottom: 6em;
}
#abtest .header {
  padding-bottom: 3em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest .header {
    padding-bottom: 2em;
  }
}
#abtest .header .head-title {
  padding-top: 0.7em;
}
#abtest .header .head-title .h1, #abtest .header .head-title .h2, #abtest .header .head-title .h3, #abtest .header .head-title .h4, #abtest .header .head-title .h5, #abtest .header .head-title .h6, #abtest .header .head-title h1, #abtest .header .head-title h2, #abtest .header .head-title h3, #abtest .header .head-title h4, #abtest .header .head-title h5, #abtest .header .head-title h6 {
  color: #7b7b80;
  font-weight: 600;
}
#abtest .header .head-subtitle {
  font-size: 14px;
  font-weight: 600;
  padding-top: 50px;
}
#abtest #hero {
  background-image: url("../../images/abtest_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 101px;
}
#abtest #hero .hero-header .title {
  font-size: 30px;
  font-weight: 300;
}
#abtest #hero .hero-header .subtitle {
  font-size: 14px;
  font-weight: 400;
  padding: 45px 0px;
}
#abtest #hero .estimate-btn {
  padding-bottom: 25px;
}
#abtest #what-is-abtest {
  padding: 5em 0em 0em;
  position: relative;
  background-image: url("../../images/hero_bottom_bg.png");
  background-position: bottom -4em center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 550px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #what-is-abtest {
    padding: 3em 0em 0em;
    background-size: contain;
    background-position: bottom -3em center;
    height: 600px;
  }
}
#abtest #what-is-abtest .bottom-image img {
  background: #00b894;
  border-radius: 50%;
  padding: 2em;
}
#abtest #why-abtest {
  padding: 5em 0em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-abtest {
    padding: 3em 0em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-abtest .body-content .right-content {
    padding-top: 2em;
  }
}
#abtest #areas {
  padding: 5em 0em;
  background-color: #F7F7F7;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #areas {
    padding: 3em 0em;
  }
}
#abtest #areas .body-content .right-content {
  line-height: 28px;
  justify-content: center;
}
#abtest #areas .body-content .right-content .list-item ul {
  margin-left: 20px;
}
#abtest #areas .body-content .right-content .list-item ul li::before {
  content: "•";
  color: #7b7b80;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -20px;
}
#abtest #mid-banner {
  background-image: url("../../images/banner/mid_banner.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 443px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #mid-banner {
    background-size: cover;
  }
}
#abtest #mid-banner .container, #abtest #mid-banner .wrapper {
  height: 100%;
}
#abtest #mid-banner .wrapper {
  position: relative;
}
#abtest #mid-banner .wrapper .top-list {
  color: #fff;
  position: absolute;
  top: -12%;
  width: 100%;
  left: 0;
  right: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #mid-banner .wrapper .top-list {
    top: -5%;
  }
}
#abtest #mid-banner .wrapper .top-list ul {
  justify-content: space-around;
  flex-wrap: nowrap;
}
#abtest #mid-banner .wrapper .top-list ul li {
  display: inline-block;
}
#abtest #mid-banner .wrapper .top-list ul li span {
  display: list-item;
  list-style: none;
  text-align: center;
}
#abtest #mid-banner .wrapper .top-list ul li .list-icon {
  background: #F7F7F7;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4em;
  width: 111px;
  height: 110px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #mid-banner .wrapper .top-list ul li .list-icon {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #mid-banner .wrapper .top-list ul li .list-icon img {
    height: 16px;
  }
}
#abtest #mid-banner .wrapper .banner-content {
  color: #fff;
  text-align: center;
}
#abtest #mid-banner .wrapper .banner-content .title {
  font-size: 30px;
  font-weight: 700;
}
#abtest #mid-banner .wrapper .banner-content .excerpt {
  font-size: 14px;
  font-weight: 400;
  padding: 25px 0px 50px;
}
#abtest #mid-banner .wrapper .banner-content .estimate-btn button {
  font-size: 13px;
  font-weight: 700;
}
#abtest #dev-process {
  padding: 5em 0em;
  background-color: #F7F7F7;
  background-image: url("../../images/process_bg.png");
  background-position: top 2em right 7em;
  background-repeat: no-repeat;
  background-size: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process {
    padding: 3em 0em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process {
    background-image: none;
  }
}
#abtest #dev-process .body-content {
  margin-right: 20%;
  padding-top: 5em;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process .body-content {
    margin-right: 0%;
    padding-top: 1em;
  }
}
#abtest #dev-process .body-content .process-block {
  position: relative;
}
#abtest #dev-process .body-content .border-line {
  border-top: 2px dotted #00b894;
  width: 100%;
  position: absolute;
  top: 2.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process .body-content .border-line {
    display: none;
  }
}
#abtest #dev-process .body-content .border-line:before {
  content: "";
  background-image: url("../../images/icon/dot_right_arrow.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: -25px;
  width: 69px;
  height: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process .body-content .border-line:before {
    display: none;
  }
}
#abtest #dev-process .body-content .inner-box .box-wrapper {
  margin-right: 40%;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process .body-content .inner-box .box-wrapper {
    margin-right: 0%;
    text-align: center;
    padding-bottom: 3em;
  }
}
#abtest #dev-process .body-content .inner-box .box-wrapper .title-icon {
  background-repeat: no-repeat;
  background-size: 63px;
  background-position: center center;
  border-radius: 50%;
  border: 2px dotted #00b894;
  content: "";
  height: 141px;
  width: 141px;
  z-index: 5;
  position: absolute;
  position: relative;
  margin: 0 auto 1.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process .body-content .inner-box .box-wrapper .title-icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#abtest #dev-process .body-content .inner-box .box-wrapper .title {
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  vertical-align: bottom;
  align-items: flex-end;
  padding-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process .body-content .inner-box .box-wrapper .title {
    align-items: center;
    justify-content: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
#abtest #dev-process .body-content .inner-box .box-wrapper .content {
  line-height: 28px;
}
#abtest #dev-process .body-content .inner-box .box-wrapper .content ul li {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
#abtest #dev-process .body-content .inner-box .box-wrapper .content ul {
  margin-left: 20px;
}
#abtest #dev-process .body-content .inner-box .box-wrapper .content ul li::before {
  content: "•";
  color: #7b7b80;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #dev-process .body-content .inner-box .box-wrapper .content {
    padding: 0em 1.5em;
  }
}
#abtest #dev-process .body-content .inner-box.second-box:before, #abtest #dev-process .body-content .inner-box.third-box:before, #abtest #dev-process .body-content .inner-box.fourth-box:before {
  background-repeat: no-repeat;
  background-size: 63px;
  background-position: center center;
  border-radius: 50%;
  border: 2px dotted #00b894;
  content: "";
  height: 141px;
  width: 141px;
  z-index: 5;
  position: absolute;
  background-color: #F7F7F7;
  left: -37%;
  top: -13%;
}
#abtest #dev-process .body-content .inner-box.second-box:before {
  background-image: url("../../images/icon/process_planning.png");
}
#abtest #dev-process .body-content .inner-box.third-box:before {
  background-image: url("../../images/icon/process_implementation.png");
}
#abtest #dev-process .body-content .inner-box.fourth-box:before {
  background-image: url("../../images/icon/process_launch.png");
}
#abtest #why-best {
  padding: 5em 0em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best {
    padding: 3em 0em;
  }
}
#abtest #why-best .body-content {
  margin-left: 20%;
  padding-top: 5em;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best .body-content {
    margin-left: 0%;
    padding-top: 1em;
  }
}
#abtest #why-best .body-content .process-block {
  position: relative;
}
#abtest #why-best .body-content .border-line {
  border-top: 2px dotted #00b894;
  width: 100%;
  position: absolute;
  top: 2.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best .body-content .border-line {
    display: none;
  }
}
#abtest #why-best .body-content .border-line:before {
  content: "";
  background-image: url("../../images/icon/dot_left_arrow.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
  top: -25px;
  width: 69px;
  height: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best .body-content .border-line:before {
    display: none;
  }
}
#abtest #why-best .body-content .inner-box .box-wrapper {
  margin-left: 40%;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best .body-content .inner-box .box-wrapper {
    margin-left: 0%;
    text-align: center;
    padding-bottom: 3em;
  }
}
#abtest #why-best .body-content .inner-box .box-wrapper .title-icon {
  background-repeat: no-repeat;
  background-size: 63px;
  background-position: center center;
  border-radius: 50%;
  border: 2px dotted #00b894;
  content: "";
  height: 141px;
  width: 141px;
  z-index: 5;
  position: absolute;
  position: relative;
  margin: 0 auto 1.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best .body-content .inner-box .box-wrapper .title-icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#abtest #why-best .body-content .inner-box .box-wrapper .title {
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  vertical-align: bottom;
  align-items: flex-end;
  padding-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best .body-content .inner-box .box-wrapper .title {
    align-items: center;
    justify-content: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
#abtest #why-best .body-content .inner-box .box-wrapper .content {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 28px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #why-best .body-content .inner-box .box-wrapper .content {
    padding: 0em 1.5em;
    text-align: justify;
  }
}
#abtest #why-best .body-content .inner-box.first-box:before, #abtest #why-best .body-content .inner-box.second-box:before, #abtest #why-best .body-content .inner-box.third-box:before {
  background-repeat: no-repeat;
  background-size: 63px;
  background-position: center center;
  border-radius: 50%;
  border: 2px dotted #00b894;
  content: "";
  height: 141px;
  width: 141px;
  z-index: 5;
  position: absolute;
  background-color: #fff;
  right: -37%;
  top: -15%;
}
#abtest #why-best .body-content .inner-box.first-box:before {
  background-image: url("../../images/icon/process_prioritize.png");
}
#abtest #why-best .body-content .inner-box.second-box:before {
  background-image: url("../../images/icon/process_predict.png");
}
#abtest #why-best .body-content .inner-box.third-box:before {
  background-image: url("../../images/icon/process_optimize.png");
}
#abtest #help {
  padding: 5em 0em;
  background-color: #00b894;
  background-image: url("../../images/help_bg_top.png"), url("../../images/help_bg_bottom.png");
  background-position: top left 10em, bottom right 10em;
  background-repeat: no-repeat;
  background-size: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #help {
    padding: 3em 0em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #help {
    background-position: top left, bottom right;
    background-size: 100px;
  }
}
#abtest #help, #abtest #help .header .head-title h6 {
  color: #fff;
}
#abtest #help .body-content .row {
  margin: 0px;
}
#abtest #help .body-content .left-block {
  text-align: right;
}
#abtest #help .body-content .right-block {
  text-align: left;
}
#abtest #help .body-content .right-block .block-wrapper {
  width: 60%;
  font-weight: 600;
  line-height: 28px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #help .body-content .right-block .block-wrapper {
    width: 100%;
    padding-top: 2em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #abtest #help .body-content .left-block, #abtest #help .body-content .right-block {
    text-align: center;
  }
}

footer {
  margin: 6em 0em 6em;
}
footer .menu-item .wrapper {
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .menu-item .wrapper.social-wrapper {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .menu-item .wrapper {
    max-width: 100%;
  }
}
footer .menu-item .title {
  font-weight: 600;
  padding-bottom: 1em;
}
footer .menu-item .socials li {
  display: inline;
}
footer .menu-item .socials li + li {
  margin-left: 2em;
}
footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 5em;
}
footer .copyright .copyright-text {
  color: #a7a7a7;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes dot-ripple {
  to {
    opacity: 0;
    transform: scale(6);
  }
}

/*# sourceMappingURL=styleABtest.css.map */
