/*- Screen Sizes*/
/*media queries*/
/*fixed media query*/
@media (min-width: 320px) and (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-show {
    display: block !important;
  }
}
/* common CSS*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: #00b894;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.desktop-hidden {
  display: none;
}

.brand-color {
  color: #00b894;
}

.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.display_flex.flex_center {
  align-items: center;
  justify-content: center;
}
.display_flex.flow_row {
  flex-flow: row;
}
.display_flex.flow_column {
  flex-flow: column;
}

.btn {
  background-color: #00b894;
  width: 214px;
  height: 38px;
  box-shadow: none;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 0px;
}

.btn:focus, .custom-control-input:focus ~ .custom-control-label::before, .btn.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ededed;
}

.container {
  max-width: 1410px !important;
}

.form-control:focus {
  -webkit-box-shadow: 0px 0px 4px 0px #bedfff !important;
  box-shadow: 0px 0px 4px 0px #bedfff !important;
  border-color: #c3e1ff;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

.btn-main {
  background: #00b894;
  color: #fff;
  border-radius: 0;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.btn-rounded {
  border-radius: 3rem;
  border-color: #ffffff;
}

.btn-rounded:hover, .btn-rounded:focus {
  border-color: #00b894;
  background-color: transparent;
  color: #ffffff;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.custom-pagination {
  position: absolute;
}
.custom-pagination ul li {
  width: 5px;
  height: 5px;
  background: rgba(0, 184, 148, 0.5);
  border-radius: 50%;
  margin: 0.4em;
  z-index: 55;
}
.custom-pagination ul li.active {
  background: #00b894;
}

/* End common CSS*/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .navbar-brand {
    height: 50px;
  }
}
header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  color: #00b894;
}
header .dropdown-menu {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  border: none;
  margin: 0;
}
header .dropdown-item {
  padding-left: 1rem;
  color: #ffffff;
  font-size: 14px;
}
header .dropdown-item:hover {
  color: #00b894;
  background-color: transparent;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
    padding-right: 0;
  }
}

.btn-rounded img {
  width: 18px;
}

#home-main {
  padding: 0px;
}
#home-main .home-section {
  margin-top: 6em;
  margin-bottom: 10em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main .home-section {
    margin-top: 2em;
    margin-bottom: 5em;
  }
}
#home-main .home-section .header {
  padding-bottom: 3em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main .home-section .header {
    padding-bottom: 2em;
  }
}
#home-main .home-section .header .head-title {
  padding-top: 0.7em;
}
#home-main .home-section .header .head-title .h1, #home-main .home-section .header .head-title .h2, #home-main .home-section .header .head-title .h3, #home-main .home-section .header .head-title .h4, #home-main .home-section .header .head-title .h5, #home-main .home-section .header .head-title .h6, #home-main .home-section .header .head-title h1, #home-main .home-section .header .head-title h2, #home-main .home-section .header .head-title h3, #home-main .home-section .header .head-title h4, #home-main .home-section .header .head-title h5, #home-main .home-section .header .head-title h6 {
  color: #7b7b80;
  font-weight: 600;
}
#home-main .home-section .body-content .right-content {
  line-height: 2em;
}
#home-main .home-section .body-content .right-content .h1, #home-main .home-section .body-content .right-content .h2, #home-main .home-section .body-content .right-content .h3, #home-main .home-section .body-content .right-content .h4, #home-main .home-section .body-content .right-content .h5, #home-main .home-section .body-content .right-content .h6, #home-main .home-section .body-content .right-content h1, #home-main .home-section .body-content .right-content h2, #home-main .home-section .body-content .right-content h3, #home-main .home-section .body-content .right-content h4, #home-main .home-section .body-content .right-content h5, #home-main .home-section .body-content .right-content h6 {
  font-weight: 600;
}
#home-main .home-section .body-content .right-content p {
  padding-top: 1em;
}
#home-main #home-slider {
  background-image: url("../../images/banner/banner.jpg");
  background-size: cover;
  height: 800px;
  height: 100vh;
  padding-top: 101px;
  color: #fff;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider {
    padding-top: 80px;
  }
}
#home-main #home-slider .container, #home-main #home-slider .wrapper {
  height: 100%;
}
#home-main #home-slider .center-content {
  position: relative;
  top: -138px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider .center-content {
    top: 0px;
  }
}
#home-main #home-slider .custom-pagination {
  right: 1em;
  top: 40%;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider .custom-pagination {
    bottom: 1em;
    right: 0;
    left: 0;
    top: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider .custom-pagination ul li {
    margin: 0.1em;
    z-index: 55;
    display: inline-block;
  }
}
#home-main #home-slider .control {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#home-main #home-slider .control .absolute-bg {
  height: 145px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00b894;
  z-index: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider .control .absolute-bg {
    display: none;
  }
}
#home-main #home-slider .control ul li.control-item {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin: 0;
  z-index: 5;
}
#home-main #home-slider .control ul li.control-item .control-inner li.title, #home-main #home-slider .control ul li.control-item .control-inner li.icon, #home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
  max-width: 140px;
  overflow: hidden;
}
#home-main #home-slider .control ul li.control-item .control-inner li.icon, #home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
  background-color: #00b894;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider .control ul li.control-item .control-inner li.icon, #home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
    background-color: #fff;
  }
}
#home-main #home-slider .control ul li.control-item .control-inner li.title {
  padding: 1em 0.5em;
}
#home-main #home-slider .control ul li.control-item .control-inner li.icon {
  height: 90px;
  padding: 20px 0px;
}
#home-main #home-slider .control ul li.control-item .control-inner li.icon img, #home-main #home-slider .control ul li.control-item .control-inner li.icon svg {
  height: 50px;
}
#home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
  height: 140px;
  padding: 15px 5px 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
    display: none;
  }
}
#home-main #home-slider .control ul li.control-item.active .icon svg .cls-1 {
  fill: #00b894;
  opacity: 1;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.title, #home-main #home-slider .control ul li.control-item.active .control-inner li.icon, #home-main #home-slider .control ul li.control-item.active .control-inner li.title-excerpt {
  max-width: 250px;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.icon, #home-main #home-slider .control ul li.control-item.active .control-inner li.title-excerpt {
  background-color: #fff;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.title {
  padding: 1em 3em;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.title-excerpt {
  color: #000;
}
#home-main #home-slider #hero-slider .item .item-content {
  margin-bottom: 1.5em;
  padding: 0% 15%;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider #hero-slider .item .item-content {
    padding: 0% 5%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider #hero-slider .item .item-content img {
    max-height: 200px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider #hero-slider .item .title.item-content h2 {
    font-size: 17px;
    line-height: 1.5em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-slider #hero-slider .item .subtitle.item-content h5 {
    font-size: 11px;
  }
}
#home-main #mobile-control li.control-item {
  width: 50%;
  text-align: center;
  min-height: 140px;
  float: left;
}
#home-main #mobile-control li.control-item .title {
  color: #7b7b80;
  height: 50px;
}
#home-main #mobile-control li.control-item .icon {
  height: 80px;
}
#home-main #mobile-control li.control-item img, #home-main #mobile-control li.control-item svg {
  height: 50px;
}
#home-main #mobile-control li.control-item svg .cls-1 {
  fill: #00b894;
  opacity: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-info .left-content, #home-main #home-info .right-content {
    text-align: center !important;
  }
}
#home-main #home-info .right-content h4 {
  text-decoration: underline;
}
#home-main #home-info .right-content p {
  line-height: 2.2em;
  margin-top: 1em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-info .right-content {
    padding-top: 3em;
  }
}
#home-main #home-masterpieces {
  padding-top: 6em;
  padding-bottom: 15em;
  position: relative;
  background-color: #F7F7F7;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-masterpieces {
    padding-top: 3em;
    padding-bottom: 7em;
  }
}
#home-main #home-masterpieces .header {
  padding-bottom: 2em;
}
#home-main #home-masterpieces #master-slider {
  position: relative;
}
#home-main #home-masterpieces #master-slider .item .img-wrapper {
  position: relative;
}
#home-main #home-masterpieces #master-slider .item .img-wrapper img.mobile-img {
  right: 1em;
  bottom: -3em;
}
#home-main #home-masterpieces #master-slider .item .excerpt-info {
  display: block;
  padding-top: 3em;
  color: #7b7b80;
}
#home-main #home-masterpieces #master-slider .item .excerpt-info .left, #home-main #home-masterpieces #master-slider .item .excerpt-info .right {
  width: 50%;
  float: left;
}
#home-main #home-masterpieces #master-slider .item .excerpt-info .left .year span, #home-main #home-masterpieces #master-slider .item .excerpt-info .right .company {
  font-size: 1.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-masterpieces #master-slider .left-content, #home-main #home-masterpieces #master-slider .right-content {
    text-align: center !important;
  }
}
#home-main #home-masterpieces #master-slider .right-content h4 {
  text-decoration: underline;
}
#home-main #home-masterpieces #master-slider .right-content p {
  line-height: 2.2em;
  margin-top: 1em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-masterpieces #master-slider .right-content {
    padding-top: 5em;
  }
}
#home-main #home-masterpieces .custom-pagination {
  bottom: 5em;
  left: 0;
  right: 0;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-masterpieces .custom-pagination {
    bottom: 3em;
  }
}
#home-main #home-masterpieces .custom-pagination ul li {
  display: inline-block;
  margin: 0.2em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-testimonial {
    padding-bottom: 5em;
  }
}
#home-main #home-testimonial #testimonial-slider {
  cursor: url("../images/icon/resize-horizontal.png"), auto;
}
#home-main #home-testimonial #testimonial-slider .body {
  padding: 0% 3%;
  line-height: 1.7em;
  font-size: 16px;
}
#home-main #home-testimonial #testimonial-slider .body .item {
  display: none;
}
#home-main #home-testimonial #testimonial-slider .body .item.active {
  display: block;
}
#home-main #home-testimonial #testimonial-slider .person {
  margin-top: 4%;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-testimonial #testimonial-slider .person {
    margin-top: 10%;
  }
}
#home-main #home-testimonial #testimonial-slider .person .person-item {
  display: inline-block;
  vertical-align: top;
}
#home-main #home-testimonial #testimonial-slider .person .person-item + .person-item {
  margin-left: 1%;
}
#home-main #home-testimonial #testimonial-slider .person .person-item img {
  height: 50px;
  opacity: 0.5;
  border-radius: 50%;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span {
  display: list-item;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-img {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-name {
  font-size: 1.5em;
  top: 80px;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-compnay {
  top: 113px;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-name,
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-compnay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
#home-main #home-testimonial #testimonial-slider .person .person-item.active img {
  height: 70px;
  opacity: 1;
}
#home-main #home-testimonial #testimonial-slider .person .person-item.active span.person-name,
#home-main #home-testimonial #testimonial-slider .person .person-item.active span.person-compnay {
  display: list-item;
}
#home-main #home-clients {
  background: #00b894;
  padding: 6em 0em;
}
#home-main #home-clients #clients-slider {
  cursor: url("../images/icon/resize-horizontal.png"), auto;
  position: relative;
}
#home-main #home-clients #clients-slider .item {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-clients #clients-slider .item {
    display: list-item;
    list-style: none;
  }
}
#home-main #home-clients #clients-slider .item + .item {
  margin-left: 1.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-clients #clients-slider .item + .item {
    margin-left: 0em;
    margin-top: 1em;
  }
}
#home-main #home-clients #clients-slider .item .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 134px;
  background: #fff;
}
#home-main #home-clients #clients-slider .item .img-wrapper + .img-wrapper {
  margin-top: 1.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-clients #clients-slider .item .img-wrapper + .img-wrapper {
    margin-top: 1em;
  }
}
#home-main #home-clients .slider-control {
  padding-top: 2em;
}
#home-main #home-clients .slider-control .left {
  margin-right: 0.7em;
}
#home-main #home-clients .slider-control .left, #home-main #home-clients .slider-control .right {
  cursor: pointer;
  display: inline;
}
#home-main #home-clients .slider-control .left img, #home-main #home-clients .slider-control .right img {
  display: none;
}
#home-main #home-clients .slider-control .left img.active, #home-main #home-clients .slider-control .right img.active {
  display: inline;
}
#home-main #home-tools #tools-slider .item {
  display: inline-block;
  vertical-align: top;
  margin: 1em 0em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-tools #tools-slider .item {
    margin: 0.5em 0em;
  }
}
#home-main #home-tools #tools-slider .item + .item {
  margin-left: 1em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-tools #tools-slider .item + .item {
    margin-left: 0em;
  }
}
#home-main #home-tools #tools-slider .item .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
  background: #fff;
  border: 1px solid #f7f7f7;
  padding: 0em 2.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-tools #tools-slider .item .img-wrapper {
    min-width: 206px;
  }
}
#home-main #home-work-history .tab-headers {
  position: relative;
}
#home-main #home-work-history .tab-headers ul li {
  color: #8f8f90;
  display: inline-block;
  vertical-align: top;
  padding: 0em 2em;
  position: relative;
  border-top: 3px solid #e6e6e6;
}
#home-main #home-work-history .tab-headers ul li + li {
  margin-left: 17px;
}
#home-main #home-work-history .tab-headers ul li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  left: -12px;
  top: -4px;
  background: #e6e6e6;
}
#home-main #home-work-history .tab-headers ul li .title {
  padding: 0.5em 0em;
}
#home-main #home-work-history .tab-headers ul li.active {
  color: #00b894;
  border-top: 3px solid #00b894;
}
#home-main #home-work-history .tab-headers ul li.active:before {
  opacity: 0;
}
#home-main #home-work-history .tab-headers ul li.active .circle {
  border-radius: 50%;
  background-color: #00b894;
  width: 8px;
  height: 8px;
  position: absolute;
  opacity: 1;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
#home-main #home-work-history .tab-headers ul li.active .circle:nth-child(1) {
  animation-delay: 0s;
}
#home-main #home-work-history .tab-headers ul li.active .circle:nth-child(2) {
  animation-delay: 1s;
}
#home-main #home-work-history .tab-headers ul li.active .circle:nth-child(3) {
  animation-delay: 2s;
}
#home-main #home-work-history .tab-headers ul li.active .circle:nth-child(4) {
  animation-delay: 3s;
}
#home-main #home-work-history .tab-headers ul li.active .circle:nth-child(5) {
  animation-delay: 4s;
}
#home-main #home-work-history .tab-headers ul li.active .circle:nth-child(6) {
  animation-delay: 5s;
}
#home-main #home-work-history .tab-headers ul li.active .circle {
  left: -13.7px;
  top: -5.29px;
}
#home-main #home-work-history .tab-panel {
  display: none;
  padding-top: 2em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-work-history .tab-panel {
    display: block;
    padding-top: 0;
  }
}
#home-main #home-work-history .tab-panel .mobile-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 1em;
}
#home-main #home-work-history .tab-panel.active {
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-work-history .tab-panel + .tab-panel {
    margin-top: 2em;
  }
}
#home-main #home-work-history .tab-panel .tab-info .number {
  font-size: 40px;
  font-weight: 700;
  color: #00b894;
}
#home-main #home-work-history .tab-panel .tab-info .info {
  font-size: 17px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-work-history .tab-panel .tab-info > div:not(last-child) {
    padding-bottom: 1em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #home-work-history .tab-panel .tab-info {
    border: 1px solid #e6e6e6;
    padding: 1em;
    flex-flow: column;
  }
}
#home-main #subscribe {
  height: 200px;
  margin-top: 6em;
}
#home-main #subscribe .body-content {
  padding-top: 4em;
}
#home-main #subscribe .body-content input, #home-main #subscribe .body-content button, #home-main #subscribe .body-content textarea {
  border: none;
  outline: none;
  box-shadow: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #subscribe .body-content {
    padding-top: 2em;
  }
}
#home-main #subscribe .body-content .subscribe-group {
  align-items: center;
  justify-content: center;
}
#home-main #subscribe .body-content .subscribe-group input, #home-main #subscribe .body-content .subscribe-group button, #home-main #subscribe .body-content .subscribe-group textarea {
  height: 38px;
}
#home-main #subscribe .body-content .subscribe-group input {
  border-bottom: 1px solid #3ac6aa;
  width: 30%;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #subscribe .body-content .subscribe-group input {
    width: 70%;
  }
}
#home-main #subscribe .body-content .subscribe-group button {
  background: #00b894;
  color: #fff;
  width: 108px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #subscribe .body-content .subscribe-group button {
    width: 30%;
  }
}
#home-main #bg-footer-main {
  height: 450px;
  background-image: url("../../images/footer_city.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 0em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #bg-footer-main {
    height: 200px;
    background-size: contain;
  }
}
#home-main #contact {
  height: 350px;
  color: #fff;
  background-color: #00b894;
  position: relative;
}
#home-main #contact ::placeholder {
  color: #fff;
}
#home-main #contact input, #home-main #contact button, #home-main #contact textarea {
  border: none;
  outline: none;
  box-shadow: none;
}
#home-main #contact input, #home-main #contact button, #home-main #contact textarea {
  height: 38px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #contact {
    height: 330px;
  }
}
#home-main #contact .contact-wrapper {
  padding-top: 6%;
}
#home-main #contact .contact-wrapper .head-title h6, #home-main #contact .contact-wrapper .bottom-info h6 {
  font-size: 17px;
  font-weight: 700;
}
#home-main #contact .contact-wrapper .body-content .wrapper {
  padding: 2em 0em;
}
#home-main #contact .contact-wrapper .body-content input, #home-main #contact .contact-wrapper .body-content textarea {
  background: transparent;
  border-bottom: 1px solid #3ac6aa;
}
#home-main #contact .contact-wrapper .body-content input.one-row-input {
  width: 31%;
}
#home-main #contact .contact-wrapper .body-content input.one-row-input + input.one-row-input {
  margin-left: 1em;
}
#home-main #contact .contact-wrapper .body-content button {
  background: #7ADAC8;
  color: #fff;
  width: 108px;
}
#home-main #contact .contact-wrapper .body-content .contact-group {
  padding-top: 5em;
}
#home-main #contact .contact-wrapper .body-content .contact-group textarea {
  width: 80%;
  background: #00b894;
  z-index: 1;
}
#home-main #bg-footer-map {
  position: relative;
  color: #fff;
  height: 350px;
  background-color: #00b894;
}
#home-main #bg-footer-map .bottom-info {
  position: absolute;
  bottom: 9%;
  left: 0;
  right: 0;
  line-height: 2em;
  font-weight: 700;
}
#home-main #bg-footer-map .bottom-info .offices, #home-main #bg-footer-map .bottom-info .email {
  margin-top: 2.5em;
}
#home-main #bg-footer-map .bottom-info .offices .item {
  display: inline-block;
  vertical-align: top;
  width: 400px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #bg-footer-map .bottom-info .offices .item {
    display: list-item;
    list-style: none;
    text-align: center !important;
    width: 100%;
  }
}
#home-main #bg-footer-map .bottom-info .offices .item .location {
  font-weight: 400;
}
#home-main #bg-footer-map .bottom-info .offices .item + .item {
  margin-left: 4em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #bg-footer-map .bottom-info .offices .item + .item {
    margin-left: 0em;
    margin-top: 2em;
  }
}
#home-main #bg-footer-map .bottom-info .email a {
  color: #fff;
  text-decoration: none;
}
#home-main #bg-footer-map .bg-map {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #bg-footer-map .bg-map {
    bottom: 45%;
  }
}
#home-main #bg-footer-map .bg-map .bg-map-wrapper {
  position: relative;
  width: 719px;
  width: max-content;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #bg-footer-map .bg-map .bg-map-wrapper {
    width: 719px;
    width: max-content;
  }
}
#home-main #bg-footer-map .bg-map .bg-map-wrapper #bd_office {
  right: 27%;
  top: 40%;
}
#home-main #bg-footer-map .bg-map .bg-map-wrapper #uk_office {
  left: 47%;
  top: 18%;
}
#home-main #bg-footer-map .bg-map .bg-map-wrapper #bd_office,
#home-main #bg-footer-map .bg-map .bg-map-wrapper #uk_office {
  position: absolute;
  width: auto;
  height: auto;
  height: auto;
  background: #FFFFFF;
  min-width: 5px;
  min-height: 5px;
  border-radius: 50%;
}
#home-main #bg-footer-map .bg-map .bg-map-wrapper #bd_office .circle,
#home-main #bg-footer-map .bg-map .bg-map-wrapper #uk_office .circle {
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 5px;
  height: 5px;
  position: absolute;
  opacity: 1;
  animation: dot-ripple 5s linear infinite;
}
#home-main #bg-footer-map .bg-map .bg-map-wrapper #bd_office .circle:nth-child(1),
#home-main #bg-footer-map .bg-map .bg-map-wrapper #uk_office .circle:nth-child(1) {
  animation-delay: 0s;
}
#home-main #bg-footer-map .bg-map #world_map_footer {
  height: 250px;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  #home-main #bg-footer-map .bg-map #world_map_footer {
    height: 120px;
  }
}

.timeline_1:before {
  background-image: url(../images/icon/our_process_1.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline_1:before {
    display: none;
  }
}

.timeline_2:before {
  background-image: url(../images/icon/our_process_2.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline_2:before {
    display: none;
  }
}

.timeline_3:before {
  background-image: url(../images/icon/our_process_3.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline_3:before {
    display: none;
  }
}

.timeline_4:before {
  background-image: url(../images/icon/our_process_4.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline_4:before {
    display: none;
  }
}

.timeline_5:before {
  background-image: url(../images/icon/our_process_5.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline_5:before {
    display: none;
  }
}

.timeline {
  line-height: 1.5em;
  font-size: 14px;
  transition: all 0.4s ease;
  position: relative;
  width: 50%;
  margin: 0 auto;
  counter-reset: section;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline {
    width: 80%;
  }
}
.timeline:before {
  content: "";
  width: 4px;
  height: 83%;
  background: #00b894;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline:before {
    display: none;
  }
}

.timeline--entry {
  position: relative;
  text-align: justify;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline--entry {
    text-align: center !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline--entry .mobile-position {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
  }
}
.timeline--entry__counter:before {
  content: "";
  color: #E5E5E5;
  position: absolute;
  content: counter(section);
  counter-increment: section;
  left: -1em;
  font-size: 50px;
  font-weight: 400;
  top: 0.3em;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline--entry__counter:before {
    display: none;
  }
}
.timeline--entry__title {
  font-size: 1rem;
  padding: 1em 0em;
  font-weight: 700;
}
.timeline--entry__title:before {
  left: -1em;
  background: #00b894;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  left: -1em;
  top: 1.5em;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline--entry__title:before {
    display: none;
  }
}
.timeline--entry__detail {
  margin: 0;
}
.timeline--entry .circle {
  border-radius: 50%;
  background-color: #00b894;
  width: 45px;
  height: 45px;
  position: absolute;
  opacity: 1;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
.timeline--entry .circle:nth-child(1) {
  animation-delay: 0s;
}
.timeline--entry .circle:nth-child(2) {
  animation-delay: 1s;
}
.timeline--entry .circle:nth-child(3) {
  animation-delay: 2s;
}
.timeline--entry .circle:nth-child(4) {
  animation-delay: 3s;
}
.timeline--entry .circle:nth-child(5) {
  animation-delay: 4s;
}
.timeline--entry .circle:nth-child(6) {
  animation-delay: 5s;
}
@media (min-width: 320px) and (max-width: 767px) {
  .timeline--entry .circle {
    left: 0;
    right: 0;
    top: 25%;
    margin: 0 auto;
  }
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 0em 16em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 52.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd) .circle, .timeline--entry:nth-of-type(odd):before {
      left: -135px;
    }
    .timeline--entry:nth-of-type(even) .timeline--entry__title:before {
      left: 104%;
    }
    .timeline--entry:nth-of-type(even) .timeline--entry__counter:before {
      left: 110%;
    }
    .timeline--entry:nth-of-type(even) .circle, .timeline--entry:nth-of-type(even):before {
      left: 135%;
    }
  }
}
footer {
  margin: 6em 0em 6em;
}
footer .menu-item .wrapper {
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .menu-item .wrapper.social-wrapper {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .menu-item .wrapper {
    max-width: 100%;
  }
}
footer .menu-item .title {
  font-weight: 600;
  padding-bottom: 1em;
}
footer .menu-item .socials li {
  display: inline;
}
footer .menu-item .socials li + li {
  margin-left: 2em;
}
footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 5em;
}
footer .copyright .copyright-text {
  color: #a7a7a7;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes dot-ripple {
  to {
    opacity: 0;
    transform: scale(6);
  }
}

/*# sourceMappingURL=style.css.map */
