/*- Screen Sizes*/
/*media queries*/
@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/* common CSS*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.display_flex.flex_center {
  align-items: center;
  justify-content: center;
}
.display_flex.flow_column {
  flex-flow: column wrap;
}

.btn:focus, .custom-control-input:focus ~ .custom-control-label::before, .btn.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ededed;
}

.container {
  max-width: 1410px !important;
}

.form-control:focus {
  -webkit-box-shadow: 0px 0px 4px 0px #bedfff !important;
  box-shadow: 0px 0px 4px 0px #bedfff !important;
  border-color: #c3e1ff;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

.btn-main {
  background: #00b894;
  color: #fff;
  border-radius: 0;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.btn-rounded {
  border-radius: 3rem;
  border-color: #ffffff;
}

.btn-rounded:hover, .btn-rounded:focus {
  border-color: #00b894;
  background-color: transparent;
  color: #ffffff;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.custom-pagination {
  position: absolute;
}
.custom-pagination ul li {
  width: 5px;
  height: 5px;
  background: rgba(0, 184, 148, 0.5);
  border-radius: 50%;
  margin: 0.4em;
  z-index: 55;
}
.custom-pagination ul li.active {
  background: #00b894;
}

/* End common CSS*/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  color: #00b894;
}
header .dropdown-menu {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  border: none;
  margin: 0;
}
header .dropdown-item {
  padding-left: 1rem;
  color: #ffffff;
  font-size: 14px;
}
header .dropdown-item:hover {
  color: #00b894;
  background-color: transparent;
}

.btn-rounded img {
  width: 18px;
}

#home-main {
  padding: 0px;
}
#home-main .home-section {
  margin-top: 6em;
  margin-bottom: 10em;
}
#home-main .home-section .header {
  padding-bottom: 3em;
}
#home-main .home-section .header .head-title {
  padding-top: 0.7em;
}
#home-main .home-section .header .head-title .h1, #home-main .home-section .header .head-title .h2, #home-main .home-section .header .head-title .h3, #home-main .home-section .header .head-title .h4, #home-main .home-section .header .head-title .h5, #home-main .home-section .header .head-title .h6, #home-main .home-section .header .head-title h1, #home-main .home-section .header .head-title h2, #home-main .home-section .header .head-title h3, #home-main .home-section .header .head-title h4, #home-main .home-section .header .head-title h5, #home-main .home-section .header .head-title h6 {
  color: #7b7b80;
  font-weight: 600;
}
#home-main .home-section .body-content .right-content {
  line-height: 2em;
}
#home-main .home-section .body-content .right-content .h1, #home-main .home-section .body-content .right-content .h2, #home-main .home-section .body-content .right-content .h3, #home-main .home-section .body-content .right-content .h4, #home-main .home-section .body-content .right-content .h5, #home-main .home-section .body-content .right-content .h6, #home-main .home-section .body-content .right-content h1, #home-main .home-section .body-content .right-content h2, #home-main .home-section .body-content .right-content h3, #home-main .home-section .body-content .right-content h4, #home-main .home-section .body-content .right-content h5, #home-main .home-section .body-content .right-content h6 {
  font-weight: 600;
}
#home-main .home-section .body-content .right-content p {
  padding-top: 1em;
}
#home-main #home-slider {
  background-image: url("../images/banner/banner.jpg");
  background-size: cover;
  height: 800px;
  height: 100vh;
  padding-top: 101px;
  color: #fff;
  position: relative;
}
#home-main #home-slider .container, #home-main #home-slider .wrapper {
  height: 100%;
}
#home-main #home-slider .center-content {
  position: relative;
  top: -138px;
}
#home-main #home-slider .custom-pagination {
  right: 1em;
  top: 40%;
}
#home-main #home-slider .control {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#home-main #home-slider .control .absolute-bg {
  height: 145px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00b894;
  z-index: 0;
}
#home-main #home-slider .control ul li.control-item {
  display: inline-block;
  position: relative;
  z-index: 5;
}
#home-main #home-slider .control ul li.control-item .control-inner li.title, #home-main #home-slider .control ul li.control-item .control-inner li.icon, #home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
  max-width: 140px;
  overflow: hidden;
}
#home-main #home-slider .control ul li.control-item .control-inner li.icon, #home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
  background-color: #00b894;
}
#home-main #home-slider .control ul li.control-item .control-inner li.title {
  padding: 1em 0.5em;
}
#home-main #home-slider .control ul li.control-item .control-inner li.icon {
  height: 90px;
  padding: 20px 0px;
}
#home-main #home-slider .control ul li.control-item .control-inner li.icon svg {
  height: 50px;
}
#home-main #home-slider .control ul li.control-item .control-inner li.title-excerpt {
  height: 140px;
  padding: 15px 5px 10px;
}
#home-main #home-slider .control ul li.control-item.active .icon svg .cls-1 {
  fill: #00b894;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.title, #home-main #home-slider .control ul li.control-item.active .control-inner li.icon, #home-main #home-slider .control ul li.control-item.active .control-inner li.title-excerpt {
  max-width: 250px;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.icon, #home-main #home-slider .control ul li.control-item.active .control-inner li.title-excerpt {
  background-color: #fff;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.title {
  padding: 1em 3em;
}
#home-main #home-slider .control ul li.control-item.active .control-inner li.title-excerpt {
  color: #000;
}
#home-main #home-slider #hero-slider .item .item-content {
  margin-bottom: 1.5em;
  padding: 0% 15%;
}
#home-main #home-masterpieces {
  padding-bottom: 6em;
  position: relative;
}
#home-main #home-masterpieces #master-slider {
  position: relative;
}
#home-main #home-masterpieces #master-slider .item .img-wrapper {
  position: relative;
}
#home-main #home-masterpieces #master-slider .item .img-wrapper img.mobile-img {
  right: 1em;
  bottom: -3em;
}
#home-main #home-masterpieces .custom-pagination {
  bottom: 0;
  left: 49%;
}
#home-main #home-masterpieces .custom-pagination ul li {
  display: inline-block;
  margin: 0.2em;
}
#home-main #home-testimonial #testimonial-slider {
  cursor: url("../images/icon/resize-horizontal.png"), auto;
}
#home-main #home-testimonial #testimonial-slider .body {
  padding: 0% 3%;
  line-height: 1.7em;
  font-size: 16px;
}
#home-main #home-testimonial #testimonial-slider .body .item {
  display: none;
}
#home-main #home-testimonial #testimonial-slider .body .item.active {
  display: block;
}
#home-main #home-testimonial #testimonial-slider .person {
  margin-top: 4%;
  position: relative;
}
#home-main #home-testimonial #testimonial-slider .person .person-item {
  display: inline-block;
  vertical-align: top;
}
#home-main #home-testimonial #testimonial-slider .person .person-item + .person-item {
  margin-left: 1%;
}
#home-main #home-testimonial #testimonial-slider .person .person-item img {
  height: 50px;
  opacity: 0.5;
  border-radius: 50%;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span {
  display: list-item;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-img {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-name {
  font-size: 1.5em;
  top: 80px;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-compnay {
  top: 113px;
}
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-name,
#home-main #home-testimonial #testimonial-slider .person .person-item span.person-compnay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
#home-main #home-testimonial #testimonial-slider .person .person-item.active img {
  height: 70px;
  opacity: 1;
}
#home-main #home-testimonial #testimonial-slider .person .person-item.active span.person-name,
#home-main #home-testimonial #testimonial-slider .person .person-item.active span.person-compnay {
  display: list-item;
}
#home-main #home-clients {
  background: #00b894;
  padding: 6em 0em;
}
#home-main #home-clients #clients-slider {
  cursor: url("../images/icon/resize-horizontal.png"), auto;
  position: relative;
}
#home-main #home-clients #clients-slider .item {
  display: inline-block;
  vertical-align: top;
}
#home-main #home-clients #clients-slider .item + .item {
  margin-left: 1.5em;
}
#home-main #home-clients #clients-slider .item .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 134px;
  background: #fff;
}
#home-main #home-clients #clients-slider .item .img-wrapper + .img-wrapper {
  margin-top: 1.5em;
}
#home-main #home-clients .slider-control {
  padding-top: 2em;
}
#home-main #home-clients .slider-control .left {
  margin-right: 0.7em;
}
#home-main #home-clients .slider-control .left, #home-main #home-clients .slider-control .right {
  cursor: pointer;
  display: inline;
}
#home-main #home-clients .slider-control .left img, #home-main #home-clients .slider-control .right img {
  display: none;
}
#home-main #home-clients .slider-control .left img.active, #home-main #home-clients .slider-control .right img.active {
  display: inline;
}

.timeline_1:before {
  background-image: url(../images/icon/our_process_1.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}

.timeline_2:before {
  background-image: url(../images/icon/our_process_2.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}

.timeline_3:before {
  background-image: url(../images/icon/our_process_3.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}

.timeline_4:before {
  background-image: url(../images/icon/our_process_4.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}

.timeline_5:before {
  background-image: url(../images/icon/our_process_5.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  content: "";
  width: 45px;
  height: 45px;
  background-color: #00b894;
  border-radius: 50%;
  position: absolute;
  left: -4.5em;
  z-index: 1;
}

.timeline {
  line-height: 1.5em;
  font-size: 14px;
  transition: all 0.4s ease;
  position: relative;
  width: 50%;
  margin: 0 auto;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 4px;
  height: 83%;
  background: #00b894;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  text-align: justify;
}
.timeline--entry__counter:before {
  content: "";
  color: #E5E5E5;
  position: absolute;
  content: counter(section);
  counter-increment: section;
  left: -1em;
  font-size: 50px;
  font-weight: 400;
  top: 0.3em;
}
.timeline--entry .circle:nth-child(1) {
  animation-delay: 0s;
}
.timeline--entry .circle:nth-child(2) {
  animation-delay: 1s;
}
.timeline--entry .circle:nth-child(3) {
  animation-delay: 2s;
}
.timeline--entry .circle:nth-child(4) {
  animation-delay: 3s;
}
.timeline--entry__title {
  font-size: 1rem;
  padding: 1em 0em;
  font-weight: 700;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  left: -1em;
  top: 1.5em;
  left: -1em;
  background: #00b894;
}
.timeline--entry__detail {
  margin: 0;
}
.timeline--entry .circle {
  border-radius: 50%;
  background-color: #00b894;
  width: 45px;
  height: 45px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 0em 16em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 52.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd) .circle, .timeline--entry:nth-of-type(odd):before {
      left: -135px;
    }
    .timeline--entry:nth-of-type(even) .timeline--entry__title:before {
      left: 104%;
    }
    .timeline--entry:nth-of-type(even) .timeline--entry__counter:before {
      left: 110%;
    }
    .timeline--entry:nth-of-type(even) .circle, .timeline--entry:nth-of-type(even):before {
      left: 135%;
    }
  }
}

/*# sourceMappingURL=style.css.map */
