#abtest{
	@mixin padding_space{
		padding: 5em 0em;
		@include mobile{
			padding: 3em 0em;
		}
	}
	@mixin timeline_image{
		background-repeat: no-repeat;
	    background-size: 63px;
	    background-position: center center;
	    border-radius: 50%;
	    border: 2px dotted $brand-color;
	    content: "";
	    height: 141px;
	    width: 141px;
	    z-index: 5;
	    position: absolute;
	}
	@mixin custom_bullet_list{
		ul{
			margin-left: 20px;
			li::before {
			  content: "\2022";
			  color: $text-grey-1;
			  font-weight: bold;
			  display: inline-block;
			  width: 1em;
			  margin-left: -20px;
			}
		}
	}
	margin-bottom: 6em;
	.header{
		padding-bottom: 3em;
		@include mobile{
			padding-bottom: 2em;
		}
		.head-title{
			padding-top: 0.7em;
			.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
				color: $text-grey-1;
				font-weight: 600;
			}
		}
		.head-subtitle{
			font-size: 14px;
			font-weight: 600;
			padding-top: 50px;
		}
	}

	#hero{
		background-image: url("../../images/abtest_bg.jpg");
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    padding-top: 101px;

	    .hero-header{
	    	.title{
	    		font-size: 30px;
				font-weight: 300;
	    	}
	    	.subtitle{
	    		font-size: 14px;
				font-weight: 400;
				padding: 45px 0px;
	    	}
	    }
	    .estimate-btn{
	    	padding-bottom: 25px;
	    }
	}
	#what-is-abtest{
		padding: 5em 0em 0em;
		position: relative;
		background-image: url("../../images/hero_bottom_bg.png");
	    background-position: bottom -4em center;
	    background-repeat: no-repeat;
	    background-size: auto;
	    height: 550px;
	    @include mobile{
	    	padding: 3em 0em 0em;
	    	background-size: contain;
	    	background-position: bottom -3em center;
	    	height: 600px;
	    }
		.bottom-image{
			img{
				background: $brand-color;
				border-radius: 50%;
				padding: 2em;
			}
		}
	}
	#why-abtest{
		@include padding_space;
		.body-content{
			.right-content{
				@include mobile{
					padding-top: 2em;
				}
			}
		}
	}
	#areas{
		@include padding_space;
		background-color: $bg-grey-1;

		.body-content{
			.right-content{
				line-height: 28px;
				justify-content: center;

				.list-item{
					@include custom_bullet_list;
				}
			}
		}
	}
	#mid-banner{
		background-image: url("../../images/banner/mid_banner.jpg");
	    background-position: left center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    height: 443px;
	    @include mobile{
	    	background-size: cover;
	    }
	    .container, .wrapper{height: 100%;}
	    .wrapper{
	    	position: relative;
	    	.top-list{
	    		color: #fff;
	    		position: absolute;
			    top: -12%;
			    width: 100%;
			    left: 0;
			    right: 0;
			    @include mobile{
			    	top: -5%;
			    }

			    ul{
			    	justify-content: space-around;
    				flex-wrap: nowrap;

    				li{
					    display: inline-block;
					    span{
					    	display: list-item;
					    	list-style: none;
					    	text-align: center;
					    }
					    .list-icon{
					    	background: $bg-grey-1;
						    border-radius: 50%;
						    display: -webkit-box;
					    	display: -moz-box;
						    display: -ms-flexbox;
						    display: -webkit-flex;
						    display: flex;
						    justify-content: center;
	    					align-items: center;
	    					margin-bottom: 0.4em;
						    width: 111px;
    						height: 110px;
    						@include mobile{
    							width: 50px;
    							height: 50px;
    						}
    						img{
    							@include mobile{
    								height: 16px;
    							}
    						}
					    }
				    }
			    } 
	    	}
	    	.banner-content{
	    		color: #fff;
	    		text-align: center;
	    		.title{
	    			font-size: 30px;
	    			font-weight: 700;
	    		}
	    		.excerpt{
	    			font-size: 14px;
	    			font-weight: 400;
	    			padding: 25px 0px 50px;
	    		}
	    		.estimate-btn button{
	    			font-size: 13px;
	    			font-weight: 700;
	    		}
	    	}
	    }
	}
	#dev-process{
		@include padding_space;
		background-color: $bg-grey-1;
		background-image: url("../../images/process_bg.png");
	    background-position: top 2em right 7em;
	    background-repeat: no-repeat;
	    background-size: auto;
	    @include mobile{
	    	background-image: none;
	    }

		.body-content{
			margin-right: 20%;
			padding-top: 5em;
			overflow: hidden;
			@include mobile{
		    	margin-right: 0%;
				padding-top: 1em;
		    }
			.process-block{
				position: relative;
			}
			.border-line{
				border-top: 2px dotted $brand-color;
				width: 100%;
				position: absolute;
    			top: 2.5em;
    			@include mobile{
			    	display: none;
			    }
    			&:before{
    				content: "";
    				background-image: url("../../images/icon/dot_right_arrow.png");
				    background-repeat: no-repeat;
				    position: absolute;
				    right: 15px;
				    top: -25px;
				    width: 69px;
				    height: 50px;
				    @include mobile{
				    	display: none;
				    }
    			}
			}
			.inner-box{
				.box-wrapper{
					margin-right: 40%;
					@include mobile{
				    	margin-right: 0%;
				    	text-align: center;
				    	padding-bottom: 3em;
				    }
				    .title-icon{
				    	@include timeline_image;
				    	position: relative;
				    	margin: 0 auto 1.5em;
				    	@include mobile{
				    		display: -webkit-box;
						    display: -moz-box;
						    display: -ms-flexbox;
						    display: -webkit-flex;
						    display: flex;
						    align-items: center;
        					justify-content: center;
				    	}
				    }
					.title{
						font-size: 17px;
						font-weight: 700;
						height: 50px;
					    vertical-align: bottom;
					    align-items: flex-end;
					    padding-bottom: 30px;
					    @include mobile{
					    	align-items: center;
    						justify-content: center;
    						padding-left: 1.5em;
    						padding-right: 1.5em;
					    }
					}
					.content{
						line-height: 28px;
						ul li{
							font-size: 14px;
							font-weight: 600;
							font-style: italic;
						}
						@include custom_bullet_list;
						@include mobile{
							padding: 0em 1.5em;
						}
					}
				}
				&.second-box, &.third-box, &.fourth-box{
					&:before{
						@include timeline_image;
						background-color: $bg-grey-1;
						left: -37%;
    					top: -13%;
					}
				}
				&.second-box:before{
					background-image: url("../../images/icon/process_planning.png");
				}
				&.third-box:before{
					background-image: url("../../images/icon/process_implementation.png");
				}
				&.fourth-box:before{
					background-image: url("../../images/icon/process_launch.png");
				}
			}
		}
	}
	#why-best{
		@include padding_space;

		.body-content{
			margin-left: 20%;
			padding-top: 5em;
			overflow: hidden;
			@include mobile{
		    	margin-left: 0%;
				padding-top: 1em;
		    }
			.process-block{
				position: relative;
			}
			.border-line{
				border-top: 2px dotted $brand-color;
				width: 100%;
				position: absolute;
    			top: 2.5em;
    			@include mobile{
			    	display: none;
			    }
    			&:before{
    				content: "";
    				background-image: url("../../images/icon/dot_left_arrow.png");
				    background-repeat: no-repeat;
				    position: absolute;
				    left: 15px;
				    top: -25px;
				    width: 69px;
				    height: 50px;
				    @include mobile{
				    	display: none;
				    }
    			}
			}
			.inner-box{
				.box-wrapper{
					margin-left: 40%;
					text-align: right;
					@include mobile{
				    	margin-left: 0%;
				    	text-align: center;
				    	padding-bottom: 3em;
				    }
				    .title-icon{
				    	@include timeline_image;
				    	position: relative;
				    	margin: 0 auto 1.5em;
				    	@include mobile{
				    		display: -webkit-box;
						    display: -moz-box;
						    display: -ms-flexbox;
						    display: -webkit-flex;
						    display: flex;
						    align-items: center;
        					justify-content: center;
				    	}
				    }
					.title{
						font-size: 17px;
						font-weight: 700;
						height: 50px;
					    vertical-align: bottom;
					    align-items: flex-end;
					    padding-bottom: 30px;
					    @include mobile{
					    	align-items: center;
    						justify-content: center;
    						padding-left: 1.5em;
    						padding-right: 1.5em;
					    }
					}
					.content{
						font-size: 14px;
						font-weight: 600;
						font-style: italic;
						line-height: 28px;
						@include mobile{
							padding: 0em 1.5em;
    						text-align: justify;
						}
					}
				}
				&.first-box, &.second-box, &.third-box{
					&:before{
						@include timeline_image;
						background-color: #fff;
						right: -37%;
    					top: -15%;
					}
				}
				&.first-box:before{
					background-image: url("../../images/icon/process_prioritize.png");
				}
				&.second-box:before{
					background-image: url("../../images/icon/process_predict.png");
				}
				&.third-box:before{
					background-image: url("../../images/icon/process_optimize.png");
				}
			}
		}
	}
	#help{
		@include padding_space;
		background-color: $brand-color;
		background-image: url("../../images/help_bg_top.png"), url("../../images/help_bg_bottom.png");
	    background-position: top left 10em, bottom right 10em;
	    background-repeat: no-repeat;
	    background-size: auto;
	    @include mobile{
	    	background-position: top left, bottom right;
	    	background-size: 100px;
	    }
		&, .header .head-title h6{color: #fff;}
		.body-content{
			.row{margin: 0px;}
			.left-block{
				text-align: right;
			}
			.right-block{
				text-align: left;
				.block-wrapper{
					width: 60%;
				    font-weight: 600;
				    line-height: 28px;
				    justify-content: center;
				    align-items: center;
				    height: 100%;
				    @include mobile{
				    	width: 100%;
				    	padding-top: 2em;
				    }
				}
			}
			.left-block, .right-block{
				@include mobile{
			    	text-align: center;
			    }
			}
		}
	}
}