#buy-token{
    background-image: url("../../images/buy_token_bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    #buy-token-section{
        min-height: 476px;
        padding-top: 101px;

        .logo-wrapper{
            padding-top: 8em;
            @include mobile{
                padding-top: 1em;
            }

            img.buy_token_logo{
                background: #fff;
                border-radius: 50%;
                padding: 2em;
                box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
            }
            .title{
                font-size: 30px;
                font-weight: 300;
                margin-top: 1em;
                @include mobile{
                    font-size: 25px;
                }
            }
            .subtitle{
                font-size: 16px;
                font-weight: 400;
                margin-top: 0.7em;
                @include mobile{
                    font-size: 14px;
                }
            }
        }

        #packages{
            margin-top: 6em;
            margin-bottom: 5em;
            @include mobile{
                margin-top: 4em;
            }
            .package{
                background: #fff;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                display: inline-block;
                vertical-align: top;
                max-width: 330px;
                width: 100%;
                min-height: 550px;
                position: relative;
                overflow: hidden;
                z-index: 1;

                @include mobile{
                    display: list-item;
                    list-style: none;
                    margin-bottom: 1.5em;
                    max-width: 100%;
                    min-height: 510px;
                }
                .package-header {
                    background: $package-header-bg;
                    padding: 1.5em 0.5em;
                    font-size: 17.5px;
                    font-weight: 700;

                    span{
                        display: list-item;
                        list-style: none;
                    }
                }
                .package-wrapper{
                    padding: 3em 1em;
                    @include mobile{
                        padding: 2em 1em;
                    }
                    .package-body{
                        padding: 0em 3em 1.5em;
                        @include mobile{
                            padding: 0em 0em 1em;
                        }
                        ul li.text{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 2em;
                            &:not(:last-child){border-bottom: 1px solid #f7f7f7;}
                        }
                    }
                    .package-price{
                        span{
                            display: list-item;
                            list-style: none;

                            &.amount{
                                font-size: 51px;
                                font-weight: 700;
                            }
                        }
                    }
                }
                .package-type{
                    color: $text-grey-1;
                    margin-top: 0.5em;
                }
                .sticker{
                    background-color: #00b894;
                    height: 150px;
                    width: 150px;
                    right: -75px;
                    top: -100px;
                    position: absolute;
                    @include do_transform(rotate(45deg));

                    span{
                        color: #fff;
                        left: 20px;
                        bottom: 10px;
                        position: absolute;
                        width: 150px;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
                &.solo-package{
                    @include mobile{
                        min-height: 370px;
                    }
                    ul li{
                        display: inline-block;

                        &.input-box{
                            padding: 0em 0.7em;
                            input{
                                border-style: solid;
                                border-width: 1px;
                                border-color: #eeeeee;
                                border-bottom: 1px solid $brand-color;
                                width: 130px;
                                height: 37px;
                                padding-left: 0.5em;
                            }
                        }
                    }
                }
                &.business-package{
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                    min-height: 570px;
                    margin-top: -10px;
                    z-index: 5;
                    .package-header {
                        padding: 2em 0.5em;
                    }
                    @include mobile{
                        min-height: 510px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}