/* common CSS*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 400;
}
img{max-width: 100%;}
.hidden{display: none;}
.absolute{position: absolute;}
.display_flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    &.flex_center{
        align-items: center;
        justify-content: center;
    }
    &.flow_column{
        flex-flow: column wrap;
    }
}
.btn:focus, .custom-control-input:focus ~ .custom-control-label::before, .btn.focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #ededed;
}
.container {
    max-width: 1410px !important;
}
.form-control:focus{
    -webkit-box-shadow: 0px 0px 4px 0px #bedfff !important; ;
    box-shadow: 0px 0px 4px 0px #bedfff !important; ;
    border-color: #c3e1ff;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.btn-main{
    background: $brand-color;
    color: #fff;
    border-radius: 0;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
.btn-rounded{
    border-radius: 3rem;
    border-color: #ffffff;
}
.btn-rounded:hover,.btn-rounded:focus{
    border-color: #00b894;
    background-color: transparent;
    color: #ffffff;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.custom-pagination{
    position: absolute;
    ul{
        li{
            width: 5px;
            height: 5px;
            background: rgba($brand-color-r,$brand-color-g,$brand-color-b,0.5);
            border-radius: 50%;
            margin: 0.4em;
            z-index: 55;
            &.active{background: $brand-color;}
        }
    }
}
/* End common CSS*/