#home-main{
	padding: 0px;
	// all section common css
	.home-section{
		margin-top: 6em;
    	margin-bottom: 10em;
    	@include mobile{
    		margin-top: 2em;
    		margin-bottom: 5em;
    	}
    	.header{
    		padding-bottom: 3em;
    		@include mobile{
    			padding-bottom: 2em;
    		}
    		.head-title{
    			padding-top: 0.7em;
    			.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    				color: $text-grey-1;
    				font-weight: 600;
    			}
    		}
    	}
    	.body-content{
    		.right-content{
    			line-height: 2em;
    			.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-weight: 600;}
    			p{
    				padding-top: 1em;
    			}
    		}
    	}
	}
	// top slider
	#home-slider{
		background-image: url("../images/banner/banner.jpg");
		background-size: cover;
	    height: 800px;
    	height: 100vh;
	    padding-top: 101px;
	    color: #fff;
	    position: relative;
	    @include mobile{
	    	padding-top: 80px;
	    }

	    .container, .wrapper{height: 100%;}
	    .center-content{
	    	position: relative;
    		top: -138px;
    		@include mobile{
    			top: 0px;
    		}
	    }
	    .custom-pagination{
	    	right: 1em;
    		top: 40%;
    		@include mobile{
    			bottom: 1em;
			    right: 0;
			    left: 0;
			    top: auto;
    		}
    		ul li{
    			@include mobile{
    				margin: 0.1em;
				    z-index: 55;
				    display: inline-block;
    			}
    		}
	    }
	    .control{
	    	position: absolute;
	    	width: 100%;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    .absolute-bg{
		    	height: 145px;
			    position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    background: $brand-color;
			    z-index: 0;
			    @include mobile{
			    	display: none;
			    }
		    }
		    ul li.control-item{
		    	display: inline-block;
		    	position: relative;
		    	z-index: 5;

		    	.control-inner li{
		    		&.title, &.icon, &.title-excerpt{
					    max-width: 140px;
					    overflow: hidden;
		    		}
		    		&.icon, &.title-excerpt{
		    			background-color: $brand-color;
		    			@include mobile{
		    				background-color: #fff;
		    			}
		    		}
		    		&.title{
					    padding: 1em 0.5em;
		    		}
		    		&.icon{
		    			height: 90px;
    					padding: 20px 0px;

    					svg{
					    	height: 50px;
					    }
		    		}
		    		&.title-excerpt{
		    			height: 140px;
		    			padding: 15px 5px 10px;
		    			@include mobile{
					    	display: none;
					    }
		    		}
		    	}
		    	&.active{
		    		.icon svg .cls-1{fill: $brand-color;};
		    		.control-inner li{
		    			&.title, &.icon, &.title-excerpt{
						    max-width: 250px;
			    		}
			    		&.icon, &.title-excerpt{
			    			background-color: #fff;
			    		}
			    		&.title{
						    padding: 1em 3em;
			    		}
			    		&.title-excerpt{
			    			color: #000;
			    		}
			    	}
		    	}
		    }
	    }

	    #hero-slider{
	    	.item{
	    		.item-content{
	    			margin-bottom: 1.5em;
	    			padding: 0% 15%;
	    			@include mobile{
	    				padding: 0% 5%;
	    			}
	    			img{
	    				@include mobile{
	    					max-height: 200px;
	    				}
	    			}
	    		}
	    		.title.item-content h2{
	    			@include mobile{
	    				font-size: 17px;
    					line-height: 1.5em;
	    			}
	    		}
	    		.subtitle.item-content h5{
	    			@include mobile{
	    				font-size: 11px;
	    			}
	    		}
	    	}
	    }
	}
	// mobile-control
	#mobile-control{
		li.control-item {
		    width: 50%;
		    display: inline-block;
		    vertical-align: top;
		    text-align: center;
		    min-height: 150px;

		    .icon{
			    display: table-cell;
			    vertical-align: middle;
		    }
		    .title{height: 50px;}
		    .icon{height: 100px;}
		}
		li.control-item svg {
		    height: 50px;
		}
		li.control-item svg  .cls-1{
		    fill: $brand-color;
		}
	}
	// home info
	#home-info{
		.left-content, .right-content{
			@include mobile{
				text-align: center !important;
			}
		}
		.right-content{
			h4{text-decoration: underline;}
			p{
				line-height: 2.2em;
				margin-top: 1em;
			}
			@include mobile{
				padding-top: 3em;
			}
		}
	}
	// masterpieces section
	#home-masterpieces{
		padding-top: 6em;
		padding-bottom: 15em;
		position: relative;
		background-color: $bg-grey-1;
		@include mobile{
			padding-top: 3em;
			padding-bottom: 7em;
		}
		.header{
			padding-bottom: 2em;
		}
		#master-slider{
			position: relative;
			.item{
				.img-wrapper{
					position: relative;
					img.mobile-img{
					    right: 1em;
					    bottom: -3em;
					}
				}
				.excerpt-info{
					display: block;
    				padding-top: 3em;
    				color: $text-grey-1;
					.left, .right{
						width: 50%;
						float: left;
					}
					.left .year span, .right .company{
						font-size: 1.5em;
					}
				}
			}
			.left-content, .right-content{
				@include mobile{
					text-align: center !important;
				}
			}
			.right-content{
				h4{text-decoration: underline;}
				p{
					line-height: 2.2em;
					margin-top: 1em;
				}
				@include mobile{
					padding-top: 5em;
				}
			}
		}
		.custom-pagination{
			bottom: 5em;
			left: 0;
		    right: 0;
		    text-align: center;
		    @include mobile{
		    	bottom: 3em;
		    }
			ul li{
				display: inline-block;
				margin: 0.2em;
			}
		}
	}
	// testimonials section
	#home-testimonial{
		@include mobile{
			padding-bottom: 5em;
		}
		#testimonial-slider{
			@include slider_cursor;
			.body{
				padding: 0% 3%;
			    line-height: 1.7em;
			    font-size: 16px;

			    .item{
			    	display: none;
			    	&.active{display: block;}
			    }
			}
			.person{
				margin-top: 4%;
				position: relative;
				@include mobile{
					margin-top: 10%;
				}
				.person-item{
					display: inline-block;
					vertical-align: top;
					&+.person-item{margin-left: 1%;}
					img{
						height: 50px;
						opacity: 0.5;
						border-radius: 50%;
					}
					span{display: list-item;}
					span.person-img{
						display: table-cell;
    					vertical-align: middle;
						height: 70px;
					}
					span.person-name{
						font-size: 1.5em;
						top: 80px;
					}
					span.person-compnay{
						top: 113px;
					}
					span.person-name,
					span.person-compnay{
						display: none;
						position: absolute;
					    left: 0;
					    right: 0;
					}
					&.active{
						img{
							height: 70px;
							opacity: 1;
						}
						span.person-name,
						span.person-compnay{display: list-item;}
					}
				}
			}
		}
	}
	// clients section
	#home-clients{
		background: $brand-color;
    	padding: 6em 0em;

    	#clients-slider{
    		@include slider_cursor;
    		position: relative;

    		.item{
    			display: inline-block;
    			vertical-align: top;
    			@include mobile{
    				display: list-item;
    				list-style: none;
    			}
    			&+.item{
    				margin-left: 1.5em;
    				@include mobile{
    					margin-left: 0em;
    					margin-top: 1em;
    				}
    			}
    			.img-wrapper{
    				display: flex;
				    justify-content: center;
				    align-items: center;
					height: 134px;
					background: #fff;
					&+.img-wrapper{
						margin-top: 1.5em;
						@include mobile{
	    					margin-top: 1em;
	    				}
					}
    			}
    		}
    	}
    	.slider-control{
    		padding-top: 2em;
    		.left{margin-right: 0.7em;}
    		.left, .right{
    			cursor: pointer;
    			display: inline;
    			img{
    				display: none;
    				&.active{display: inline;}
    			}
    		}
    	}
	}
	// tools section
	#home-tools{
		#tools-slider{
			.item {
			    display: inline-block;
    			vertical-align: top;
    			margin: 1em 0em;
    			@include mobile{
			    	margin: 0.5em 0em;
			    }
    			&+.item{
    				margin-left: 1em;
    				@include mobile{
				    	margin-left: 0em;
				    }
    			}
			    .img-wrapper{
    				display: flex;
				    justify-content: center;
				    align-items: center;
				    height: 121px;
				    background: #fff;
				    border: 1px solid #f7f7f7;
				    padding: 0em 2.5em;
				    @include mobile{
				    	min-width: 206px;
				    }
    			}
			}
		}
	}
	// work history
	#home-work-history{
		.tab-headers{
			position: relative;
			ul li{
				color: #8f8f90;
				display: inline-block;
				vertical-align: top;
				padding: 0em 2em;
				position: relative;
				border-top: 3px solid #e6e6e6;
				&+li{margin-left: 17px;}
				&:before{
					content: "";
				    display: inline-block;
				    width: 5px;
				    height: 5px;
				    position: absolute;
				    border-radius: 50%;
					left: -12px;
					top: -4px;
				    background: #e6e6e6;
				}
				.title{padding: 0.5em 0em;}
				&.active{
					color: $brand-color;
					border-top: 3px solid $brand-color;
					&:before{
					    opacity: 0;
					}
					@include circle_animation(8px, $brand-color, scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32));
					.circle{
						left: -13.7px;
    					top: -5.29px;
					}
				}
			}
		}
		.tab-panel{
			display: none;
			padding-top: 2em;
			@include mobile{
				display: block;
				padding-top: 0;
			}
			.mobile-title{
				font-size: 16px;
			    font-weight: 700;
			    padding-bottom: 1em;
			}
			&.active{display: block;}
			&+.tab-panel{
				@include mobile{
					margin-top: 2em;
				}
			}
			.tab-info{
				.number{
					font-size: 40px;
					font-weight: 700;
    				color: $brand-color;
				}
				.info{
					font-size: 17px;
				}
				& > div:not(last-child){
					@include mobile{
	    				padding-bottom: 1em;
					}
				}
				@include mobile{
					border: 1px solid #e6e6e6;
    				padding: 1em;
				}
			}
		}
	}
	//Subscribe
	#subscribe{
		height: 725px;
		background-image: url("../images/footer_city.png");
		background-repeat: no-repeat;
    	background-position: center bottom;
    	margin-bottom: 0em;
    	@include mobile{
    		height: 400px;
    	}
    	.body-content{
    		padding-top: 4em;
    		@include reset_input;
    		@include mobile{
    			padding-top: 2em;
    		}
    		.subscribe-group{
    			align-items: center;
    			justify-content: center;

    			@include default_input_height;
    			input{
				    border-bottom: 1px solid #3ac6aa;
				    width: 30%;
				    @include mobile{
				    	width: 70%;
				    }
    			}
    			button{
    				background: $brand-color;
    				color: #fff;
    				width: 108px;
    				@include mobile{
    					width: 30%;
    				}
    			}
    		}
    	}
    	@include mobile{
    		background-size: contain;
    	}
	}
	//Contact
	#contact{
		height: 790px;
		color: #fff;
		background-color: $brand-color;
		position: relative;
		::placeholder{
			color: #fff;
		}
		@include reset_input;
		@include default_input_height;
		@include mobile{
			height: 330px;
		}
		.contact-wrapper{
			padding-top: 6%;
			.head-title h6, .bottom-info h6{
				font-size: 17px;
				font-weight: 700;
			}
			.body-content{
				.wrapper{padding: 2em 0em;}
				input, textarea{
					background: transparent;
					border-bottom: 1px solid #3ac6aa;
				}
				input.one-row-input{
					width: 31%;
					&+input.one-row-input{margin-left: 1em;}
				}
				button{
    				background: $button_bg_brand_color;
    				color: #fff;
    				width: 108px;
    			}
    			.contact-group{
    				padding-top: 5em;
    				textarea{
    					width: 80%;
    					background: $brand-color;
    					z-index: 1;
    				}
    			}
			}
			.bottom-info{
				position: absolute;
			    bottom: 9%;
			    left: 0;
			    right: 0;
			    line-height: 2em;
			    font-weight: 700;
			    .offices, .email{margin-top: 2.5em;}
			    .offices{
			    	.item{
			    		display: inline-block;
			    		vertical-align: top;
			    		width: 400px;
			    		@include mobile{
			    			display: list-item;
			    			list-style: none;
						    text-align: center !important;
						    width: 100%;
			    		}
			    		.location{font-weight: 400;}
			    		&+.item{
			    			margin-left: 4em;
			    			@include mobile{
			    				margin-left: 0em;
			    				margin-top: 2em;
			    			}
			    		}
			    	}
			    }
			    .email a{
			    	color: #fff;
    				text-decoration: none;
			    }
			}
			.bg-map{
				position: absolute;
			    bottom: 20%;
			    left: 0;
			    right: 0;
			    @include mobile{
			    	bottom: 55%;
			    }
				svg#world_map_footer{
					height: 250px;
					position: relative;
					@include mobile{
						height: 120px;
					}
				}
				@include map_animation($brand-color, scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32));
			}
		}
	}
}
