#home-main{
	padding: 0px;
	.home-section{
		margin-top: 6em;
    	margin-bottom: 10em;

    	.header{
    		padding-bottom: 3em;
    		.head-title{
    			padding-top: 0.7em;
    			.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    				color: #7b7b80;
    				font-weight: 600;
    			}
    		}
    	}
    	.body-content{
    		.right-content{
    			line-height: 2em;
    			.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-weight: 600;}
    			p{
    				padding-top: 1em;
    			}
    		}
    	}
	}
	#home-slider{
		background-image: url("../images/banner/banner.jpg");
		background-size: cover;
	    height: 800px;
    	height: 100vh;
	    padding-top: 101px;
	    color: #fff;
	    position: relative;

	    .container, .wrapper{height: 100%;}
	    .center-content{
	    	position: relative;
    		top: -138px;
	    }
	    .custom-pagination{
	    	right: 1em;
    		top: 40%;
	    }
	    .control{
	    	position: absolute;
	    	width: 100%;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    .absolute-bg{
		    	height: 145px;
			    position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    background: $brand-color;
			    z-index: 0;
		    }
		    ul li.control-item{
		    	display: inline-block;
		    	position: relative;
		    	z-index: 5;

		    	.control-inner li{
		    		&.title, &.icon, &.title-excerpt{
					    max-width: 140px;
					    overflow: hidden;
		    		}
		    		&.icon, &.title-excerpt{
		    			background-color: $brand-color;
		    		}
		    		&.title{
					    padding: 1em 0.5em;
		    		}
		    		&.icon{
		    			height: 90px;
    					padding: 20px 0px;

    					svg{
					    	height: 50px;
					    }
		    		}
		    		&.title-excerpt{
		    			height: 140px;
		    			padding: 15px 5px 10px;
		    		}
		    	}
		    	&.active{
		    		.icon svg .cls-1{fill: $brand-color};
		    		.control-inner li{
		    			&.title, &.icon, &.title-excerpt{
						    max-width: 250px;
			    		}
			    		&.icon, &.title-excerpt{
			    			background-color: #fff;
			    		}
			    		&.title{
						    padding: 1em 3em;
			    		}
			    		&.title-excerpt{
			    			color: #000;
			    		}
			    	}
		    	}
		    }
	    }

	    #hero-slider{
	    	.item{
	    		.item-content{
	    			margin-bottom: 1.5em;
	    			padding: 0% 15%;
	    		}
	    	}
	    }
	}
	#home-masterpieces{
		padding-bottom: 6em;
		position: relative;

		#master-slider{
			position: relative;
			.item{
				.img-wrapper{
					position: relative;
					img.mobile-img{
					    right: 1em;
					    bottom: -3em;
					}
				}
			}
		}
		.custom-pagination{
			bottom: 0;
			left: 49%;
			ul li{
				display: inline-block;
				margin: 0.2em;
			}
		}
	}
	#home-testimonial{
		#testimonial-slider{
			@include slider_cursor;
			.body{
				padding: 0% 3%;
			    line-height: 1.7em;
			    font-size: 16px;

			    .item{
			    	display: none;
			    	&.active{display: block;}
			    }
			}
			.person{
				margin-top: 4%;
				position: relative;
				.person-item{
					display: inline-block;
					vertical-align: top;
					&+.person-item{margin-left: 1%;}
					img{
						height: 50px;
						opacity: 0.5;
						border-radius: 50%;
					}
					span{display: list-item;}
					span.person-img{
						display: table-cell;
    					vertical-align: middle;
						height: 70px;
					}
					span.person-name{
						font-size: 1.5em;
						top: 80px;
					}
					span.person-compnay{
						top: 113px;
					}
					span.person-name,
					span.person-compnay{
						display: none;
						position: absolute;
					    left: 0;
					    right: 0;
					}
					&.active{
						img{
							height: 70px;
							opacity: 1;
						}
						span.person-name,
						span.person-compnay{display: list-item;}
					}
				}
			}
		}
	}
	#home-clients{
		background: $brand-color;
    	padding: 6em 0em;

    	#clients-slider{
    		@include slider_cursor;
    		position: relative;

    		.item{
    			display: inline-block;
    			vertical-align: top;
    			&+.item{margin-left: 1.5em;}
    			.img-wrapper{
    				display: flex;
				    justify-content: center;
				    align-items: center;
					height: 134px;
					background: #fff;
					&+.img-wrapper{margin-top: 1.5em;}
    			}
    		}
    	}
    	.slider-control{
    		padding-top: 2em;
    		.left{margin-right: 0.7em;}
    		.left, .right{
    			cursor: pointer;
    			display: inline;
    			img{
    				display: none;
    				&.active{display: inline;}
    			}
    		}
    	}
	}
}