/*- Screen Sizes*/
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

//- @type List
$open-sans: 'Open Sans';
//- Colors
$brand-color: #00b894;
$button_bg_brand_color: #7ADAC8;
$brand-color-r: 0;
$brand-color-g: 184;
$brand-color-b: 148;
$text-grey-1: #7b7b80;
$bg-grey-1: #F7F7F7;
$package-header-bg: #e3fffa;
$cro-page-bg: #DFFCF7;

//- Global Functions

//- Global Mixins
@mixin reset_input{
  input, button, textarea{
    border: none;
    outline: none;
    box-shadow: none;
  }
}
@mixin default_input_height{
  input, button, textarea{
    height: 38px;
  }
}
@mixin do_transform($property){
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin slider_cursor{
	cursor: url("../images/icon/resize-horizontal.png"), auto;
}
@mixin circle_animation($size, $bg-color, $animation){
	.circle {
      border-radius: 50%;
      background-color: $bg-color;
      width: $size;
      height: $size;
      position: absolute;
      opacity: 1;
      animation: $animation;
    }
  .circle:nth-child(1){animation-delay: 0s;}
	.circle:nth-child(2){animation-delay: 1s;}
	.circle:nth-child(3){animation-delay: 2s;}
	.circle:nth-child(4){animation-delay: 3s;}
  .circle:nth-child(5){animation-delay: 4s;}
  .circle:nth-child(6){animation-delay: 5s;}
}
@mixin map_animation($size, $bg-color, $animation){
  .circle {
      border-radius: 50%;
      background-color: $bg-color;
      width: $size;
      height: $size;
      position: absolute;
      opacity: 1;
      animation: $animation;
    }
  .circle:nth-child(1){animation-delay: 0s;}
}


/*media queries*/
@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

/*fixed media query*/
// mobile
@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
  .mobile-hidden{display: none !important;}
  .mobile-show{display: block !important;}
}
// tablet
@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {}
// desktop
@media (min-width: #{$desktop-width}) {}
// tablet-up
@media (min-width: #{$tablet-width}) {}
